@font-face {
    font-family: rota-bold;
    src: url('../../../../fonts/Rota/Rota-Bold.otf');
}
@font-face {
    font-family: rota-bold;
    src: url('../../../../fonts/Rota/Rota-Bold.otf');
}
@font-face {
    font-family: rota-light;
    src: url('../../../../fonts/Rota/Rota-Light.otf');
}
@font-face {
    font-family: rota-medium;
    src: url('../../../../fonts/Rota/Rota-Medium.otf');
}


.rota-bold{
    font-family: rota-bold;
}
.rota-light{
    font-family: rota-light;
}
.rota-medium{
    font-family: rota-medium;
}